<template>
  <div>
    <h1>MBanq Pay</h1>
    <div style="float:right;">
      <v-btn>Login</v-btn>
      <v-btn>SigIn</v-btn>
    </div>
      <br>
      <hr>
  </div>
</template>

<script>

export default {
};
</script>
