<template>
  <div class="sub-login">
    <h3>create Mbanq account</h3>
    <div style="width:100px; float:left; background:yellow;">
        <router-link :to="{name:'bussiness'}">personal Bussiness</router-link>
    </div>
    <div style="width:100px; float:left; background:red;">
        <router-link :to="{name:'personal'}">personal</router-link> 
    </div>
  </div>
</template>

<script>

export default {
};
</script>
